# Download Data from NY Times API and Yahoo Package

- This script will download the data from the NY Times API and Yahoo! Finance.
- We will use the article data to run sentiment analysis and compare it to the stock price perfomance

### 1. Import Packages

In [1]:
# Lets us talk to other servers on the web
import requests

# APIs spit out data in JSON
import json

# Handling dates and times
from datetime import datetime

# DataFrames!
import pandas as pd
import numpy as np

# Data visualization
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sb

# operating system commands
import os

# NYtimes Article API
from nytimesarticle import articleAPI

import time

# Yahoo package
from yahoo_historical import Fetcher

# Sentiment Analysis Package
from textblob import TextBlob
from textblob.sentiments import NaiveBayesAnalyzer
from textblob import Blobber

### 2. Define functions

1. **parse_articles**: define a function that parses articles and makes it as a list of articles
2. **get_articles**: define a function that get articles from the NY Times and uses the above function to parse the article

In [2]:
def parse_articles(articles):

    news = []
    
    for i in articles['response']['docs']:
        
        dic = {}
        
        # general infos
        
        dic['id'] = i['_id']
        try:
            dic['abstract'] = i['abstract']
        except: 
            dic['abstract'] = ''
        dic['doctype'] = i['document_type']
        dic['headline'] = i['headline']['main']
        dic['paragraph'] = i['lead_paragraph']
        dic['desk'] = i['news_desk']
        dic['date'] = i['pub_date'][0:10] # cutting time of day.
        try:
            dic['snippet'] = i['snippet']
        except: 
            dic['snippet'] = ''
        try: 
            dic['source'] = i['source']
        except: 
            dic['source'] = ''    
        try: 
            dic['type'] = i['type_of_material']
        except: 
            dic['type'] = ''
        dic['url'] = i['web_url']
        dic['word_count'] = i['word_count']
        
        # organizations
        organizations = []
        for x in range(0, len(i['keywords'])):
            if 'organizations' in i['keywords'][x]['name']:
                organizations.append(i['keywords'][x]['value'])
        dic['organization'] = organizations
        
        # locations
        locations = []
        for x in range(0,len(i['keywords'])):
            if 'glocations' in i['keywords'][x]['name']:
                locations.append(i['keywords'][x]['value'])
        dic['locations'] = locations
        
        # subject
        subjects = []
        for x in range(0,len(i['keywords'])):
            if 'subject' in i['keywords'][x]['name']:
                subjects.append(i['keywords'][x]['value'])
        dic['subjects'] = subjects   
        
        news.append(dic)
        
    return(news)

In [3]:
def get_articles(begindate, enddate, query, org, apikey):
    
    query_url = 'https://api.nytimes.com/svc/search/v2/articlesearch.json?'
    all_articles = []
    
    for i in range(0, 100): #NYT limits pager to first 100 pages. But rarely will you find over 100 pages of results anyway.
        query_url_full = query_url + 'begin_date=' + begindate + '&end_date=' + enddate + '&fq=organizations%3A(%22' + org + '%22)&page=' + str(i) + '&q=' + query + '&sort=oldest&api-key='+ apikey
        articles = requests.get(url = query_url_full).json()
        #print('okay', i)
        articles = parse_articles(articles)
        all_articles = all_articles + articles
        time.sleep(7)
        
    return(all_articles)

### 3. Download articles

**Apple**

- We will download all the articles on Apple Inc from January 1, 2014 to April 30, 2019
- Set query 'Apple' and organization 'Apple Inc'
- Since there is a data limit to download articles from the API, we will run the codes in several stpes
- Make sure to define api key

In [5]:
apikey = '<API-KEY>'
apple_news = get_articles('20140101', '20190430', 'Apple', 'Apple%20Inc', apikey)
last_date = apple_news[len(apple_news)-1]['date']
last_date2 = datetime.strptime(last_date, '%Y-%m-%d').strftime('%Y%m%d')
apple_news2 = get_articles(last_date2, '20190430', 'Apple', 'Apple%20Inc', apikey)

**If it is needed to run another round, run the below codes**
- Check whether the last date is 2019-04-30.

In [6]:
last_date = apple_news2[len(apple_news2)-1]['date']
print(last_date)
#last_date2 = datetime.datetime.strptime(last_date, '%Y-%m-%d').strftime('%Y%m%d')
#apple_news3 = get_articles('20181229', '20190430', 'Apple', 'Apple%20Inc')

2019-04-30

## Combine News 
- Combine all the articles and convert the data set into a panda data frame

In [7]:
# Combine all the news
# If apple_new3 exists, run the last code

apple_news_total = apple_news + [i for i in apple_news2 if i['id'] not in [j['id'] for j in apple_news]]
#apple_news_total = apple_news_total + [i for i in apple_news3 if i['id'] not in [j['id'] for j in apple_news2]]

# Convert it into the panda DataFrame
news_df = pd.DataFrame(apple_news_total)
news_df.head()

,abstract,date,desk,doctype,headline,id,locations,organization,paragraph,snippet,source,subjects,type,url,word_count
0,Apple’s iCloud data service works best with Ap...,2014-01-07,Business,article,Taking Along iCloud Calendars,5c9e779049f0eacbf109e38f,[],"[Apple Inc, iCloud, Samsung Group, Google Inc]",Q. Our family life depends on Apple shared cal...,Apple’s iCloud data service works best with Ap...,The New York Times,"[Android (Operating System), Smartphones]",Question,https://www.nytimes.com/2014/01/09/technology/...,634
1,"In March, Apple and Samsung Electronics are sc...",2014-01-09,,article,Apple and Samsung Chiefs to Meet a Mediator Ah...,5ca0ac6b49f0eacbf1f508e3,[],"[Apple Inc, Samsung Electronics Co]","In March, Apple and Samsung Electronics are sc...","In March, Apple and Samsung Electronics are sc...",The New York Times,"[Inventions and Patents, Smartphones, Suits an...",News,https://bits.blogs.nytimes.com/2014/01/09/appl...,146
2,Last year was the first in which personal comp...,2014-01-10,,article,"For PC Makers, the Good News on 2013 Is That I...",5ca0b20949f0eacbf1f6da72,[],"[Apple Inc, Dell Inc, Gartner Inc, Hewlett-Pac...",The two leading analysis companies tracking th...,Last year was the first in which personal comp...,The New York Times,"[Computers and the Internet, Desktop Computers]",News,https://bits.blogs.nytimes.com/2014/01/09/for-...,556
3,A summary of differences in the latest Windows...,2014-01-10,Business,article,"Changes in Windows 8.1, With Skype Replacing M...",5c9e779049f0eacbf109e391,[],"[Apple Inc, Microsoft Corporation, Skype Techn...",Meeting the New Messenger in Windows 8.1,A summary of differences in the latest Windows...,The New York Times,"[Windows (Operating System), Mobile Applicatio...",Question,https://www.nytimes.com/2014/01/10/technology/...,445
4,To draw young buyers and increase its market s...,2014-01-13,Business,article,Cost of Cool in India? An iPhone,5c9e916049f0eacbf10fe422,[India],[Apple Inc],"BANGALORE, India — After deliberating for mont...",To draw young buyers and increase its market s...,The New York Times,"[iPhone, Prices (Fares, Fees and Rates), Smart...",News,https://www.nytimes.com/2014/01/13/business/in...,1248

## Run the Sentiment Analysis on the Text

### 1. Use Pattern Analyzer
- Use Textblob package to compute sentiment scores (polarity and subjectivity)
- Default setting is to use Pattern Analyzer

In [8]:
# Compute Sentiment Polarity Score
news_abstract_polarity =  [TextBlob(i).sentiment.polarity for i in news_df['abstract']]
news_headline_polarity =  [TextBlob(i).sentiment.polarity for i in news_df['headline']]
news_snippet_polarity =   [TextBlob(i).sentiment.polarity for i in news_df['snippet']]
news_paragraph_polarity = [TextBlob(i).sentiment.polarity for i in news_df['paragraph']]

# Compute Sentiment Subjectivity Score 
news_abstract_subj =   [TextBlob(i).sentiment.subjectivity for i in news_df['abstract']]
news_headline_subj =   [TextBlob(i).sentiment.subjectivity for i in news_df['headline']]
news_snippet_subj =    [TextBlob(i).sentiment.subjectivity for i in news_df['snippet']]
news_paragraph_subj =  [TextBlob(i).sentiment.subjectivity for i in news_df['paragraph']]

### 2. Use Naive Bayes Analyzer
- Change the analyzer to Naive Bayes Analyzer
- This uses Naive Bayes Classifier trained by using the movie review data in NLTK package 
- Use Blobber function so that the analyzer does not train the data each time it goes through the data

In [9]:
blobber = Blobber(analyzer=NaiveBayesAnalyzer())
news_abstract_polarity_nba = [blobber(i).sentiment[1] for i in news_df['abstract']]
news_headline_polarity_nba = [blobber(i).sentiment[1] for i in news_df['headline']]
news_snippet_polarity_nba = [blobber(i).sentiment[1] for i in news_df['snippet']]
news_paragraph_polarity_nba = [blobber(i).sentiment[1] for i in news_df['paragraph']]

## Add Sentiment Scores to the Dataframe

In [10]:
news_df.insert(loc = len(news_df.columns), column = 'abstract_polarity', value = news_abstract_polarity)
news_df.insert(loc = len(news_df.columns), column = 'headline_polarity', value = news_headline_polarity)
news_df.insert(loc = len(news_df.columns), column = 'snippet_polarity', value = news_snippet_polarity)
news_df.insert(loc = len(news_df.columns), column = 'paragraph_polarity', value = news_paragraph_polarity)
news_df.insert(loc = len(news_df.columns), column = 'abstract_subjectivity', value = news_abstract_subj)
news_df.insert(loc = len(news_df.columns), column = 'headline_subjectivity', value = news_headline_subj)
news_df.insert(loc = len(news_df.columns), column = 'snippet_subjectivity', value = news_snippet_subj)
news_df.insert(loc = len(news_df.columns), column = 'paragraph_subjectivity', value = news_paragraph_subj)
news_df.insert(loc = len(news_df.columns), column = 'abstract_polarity_nba', value = news_abstract_polarity_nba)
news_df.insert(loc = len(news_df.columns), column = 'headline_polarity_nba', value = news_headline_polarity_nba)
news_df.insert(loc = len(news_df.columns), column = 'snippet_polarity_nba', value = news_snippet_polarity_nba)
news_df.insert(loc = len(news_df.columns), column = 'paragraph_polarity_nba', value = news_paragraph_polarity_nba)

## Export the Data Frame to CSV file

In [25]:
news_df.to_csv('news_data.csv', encoding='utf-8', header = True, index = False)

## Download Stock Prices from Yahoo Finance

In [4]:
data = Fetcher("AAPL", [2014,1,1], [2019,4,30])
shareprice_df = data.getHistorical()
#Use Adjusted Close Price
close_price = shareprice_df.iloc[:, [0,5]]

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-01-02,79.382858,79.575714,78.860001,79.018570,66.707436,58671200
1,2014-01-03,78.980003,79.099998,77.204285,77.282860,65.242165,98116900
2,2014-01-06,76.778572,78.114288,76.228569,77.704285,65.597923,103152700
3,2014-01-07,77.760002,77.994286,76.845711,77.148575,65.128777,79302300
4,2014-01-08,76.972855,77.937141,76.955711,77.637146,65.541245,64632400
5,2014-01-09,78.114288,78.122856,76.478569,76.645714,64.704292,69787200
6,2014-01-10,77.118568,77.257141,75.872856,76.134285,64.272545,76244000
7,2014-01-13,75.701431,77.500000,75.697144,76.532860,64.609001,94623200
8,2014-01-14,76.888573,78.104286,76.808571,78.055717,65.894608,83140400
9,2014-01-15,79.074287,80.028572,78.808571,79.622856,67.217575,97909700
10,2014-01-16,79.271431,79.550003,78.811432,79.178574,66.842506,57319500
11,2014-01-17,78.782860,78.867142,77.128571,77.238571,65.204781,106684900
12,2014-01-21,77.284286,78.581429,77.202858,78.438568,66.217789,82131700
13,2014-01-22,78.701431,79.612854,78.258568,78.787140,66.512077,94996300
14,2014-01-23,78.562859,79.500000,77.830002,79.454285,67.075272,100809800
15,2014-01-24,79.142860,79.374283,77.821426,78.010002,65.856003,107338700
16,2014-01-27,78.581429,79.257141,77.964287,78.642860,66.390274,138719700
17,2014-01-28,72.680000,73.571426,71.724289,72.357140,61.083874,266380800
18,2014-01-29,71.992859,72.481430,71.231430,71.535713,60.390423,125702500
19,2014-01-30,71.791428,72.357140,70.957146,71.397141,60.273430,169625400
20,2014-01-31,70.739998,71.647141,70.507141,71.514282,60.372318,116199300
21,2014-02-03,71.801430,72.532860,71.328575,71.647141,60.484482,100366000
22,2014-02-04,72.264282,72.779999,71.822861,72.684288,61.360065,94170300
23,2014-02-05,72.365715,73.611427,72.321426,73.227142,61.818325,82086200
24,2014-02-06,72.865715,73.357140,72.544289,73.215714,64.494965,64441300
25,2014-02-07,74.482857,74.704285,73.911430,74.239998,65.397247,92570100
26,2014-02-10,74.094284,75.998573,74.000000,75.570000,66.568817,86389800
27,2014-02-11,75.801430,76.821426,75.642860,76.565712,67.445953,70564200
28,2014-02-12,76.707146,77.080002,76.177139,76.559998,67.440926,77025200
29,2014-02-13,76.379997,77.835716,76.314285,77.775711,68.511818,76849500
...,...,...,...,...,...,...,...
1309,2019-03-18,185.800003,188.389999,185.789993,188.020004,187.298721,26219800
1310,2019-03-19,188.350006,188.990005,185.919998,186.529999,185.814423,31646400
1311,2019-03-20,186.229996,189.490005,184.729996,188.160004,187.438187,31035200
1312,2019-03-21,190.020004,196.330002,189.809998,195.089996,194.341583,51034200
1313,2019-03-22,195.339996,197.690002,190.779999,191.050003,190.317093,42407700
1314,2019-03-25,191.509995,191.979996,186.600006,188.740005,188.015961,43845300
1315,2019-03-26,191.660004,192.880005,184.580002,186.789993,186.073425,49800500
1316,2019-03-27,188.750000,189.759995,186.550003,188.470001,187.746994,29848400
1317,2019-03-28,188.949997,189.559998,187.529999,188.720001,187.996033,20780400
1318,2019-03-29,189.830002,190.080002,188.539993,189.949997,189.221313,23564000
1319,2019-04-01,191.639999,191.679993,188.380005,191.240005,190.506363,27862000
1320,2019-04-02,191.089996,194.460007,191.050003,194.020004,193.275696,22765700
1321,2019-04-03,193.250000,196.500000,193.149994,195.350006,194.600601,23271800
1322,2019-04-04,194.789993,196.369995,193.139999,195.690002,194.939301,19114300
1323,2019-04-05,196.449997,197.100006,195.929993,197.000000,196.244263,18526600
1324,2019-04-08,196.419998,200.229996,196.339996,200.100006,199.332382,25881700
1325,2019-04-09,200.320007,202.850006,199.229996,199.500000,198.734680,35768200
1326,2019-04-10,198.679993,200.740005,198.179993,200.619995,199.850372,21695300
1327,2019-04-11,200.850006,201.000000,198.440002,198.949997,198.186783,20900800
1328,2019-04-12,199.199997,200.139999,196.210007,198.869995,198.107086,27760700
1329,2019-04-15,198.580002,199.850006,198.009995,199.229996,198.465714,17536600
1330,2019-04-16,199.460007,201.369995,198.559998,199.250000,198.485641,25696400
1331,2019-04-17,199.539993,203.380005,198.610001,203.130005,202.350754,28906800
1332,2019-04-18,203.119995,204.149994,202.520004,203.860001,203.077957,24195800
1333,2019-04-22,202.830002,204.940002,202.339996,204.529999,203.745377,19439500
1334,2019-04-23,204.429993,207.750000,203.899994,207.479996,206.684052,23323000
1335,2019-04-24,207.360001,208.479996,207.050003,207.160004,206.365295,17540600
1336,2019-04-25,206.830002,207.759995,205.119995,205.279999,204.492508,18543200
1337,2019-04-26,204.899994,205.000000,202.119995,204.300003,203.516266,18649100
1338,2019-04-29,204.399994,205.970001,203.860001,204.610001,203.825073,22204700

In [8]:
shareprice_df.to_csv('share_price_data.csv', header = True)